---
layout: default
title: Home
---

<!-- Posts Index
================================================== -->
<div class="blog-grid-container">
  {% for post in paginator.posts %}
      {% include postbox.html %}
  {% endfor %}
</div>

<!-- Pagination
================================================== -->
<div class="bottompagination">
  <span class="navigation" role="navigation">
    {% include pagination.html %}
  </span>
</div>

<script>
    var lang = navigator.language || navigator.userLanguage;
    if (lang.indexOf('en') == 0)
        window.location = '/en/';
</script>
