<!-- Under Header -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{site.adsense-data-ad-client}}" crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="{{site.adsense-data-ad-client}}"
     data-ad-slot="{{site.adsense-data-ad-slot}}"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<br/>
